<!DOCTYPE html>
<html>
  <head>
    <title>CopyAllabolag</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  </head>

  <body>
  <div class="d-block">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark header-nav">
      <span class="display-4 font-weight-bold ml-3">All bolag</span>
    </nav>
  </header>
  </div>
    <%= yield %>
  </body>
</html>
